*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
header {
    display: grid;
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    place-content: center;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    align-self: center;
    justify-content: center;
    z-index: 2;
  }
  /* #home .container{
      align-self: center;
      justify-content: center;
      position: absolute;
  } */
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  body{
    height: 150vh ;
  }
  #test{
    background: url(https://staticdelivery.nexusmods.com/images/110/5097247-1386125823.jpg); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }
  .rounded-image{
    width: 33%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 10px 10px;
    border-radius: 50%;
  }

  .circle{
    width: 15px;
    aspect-ratio: 1 !important;
    height: auto !important;
    border-radius: 50% !important;
  }
  .projects-container{
    display: flex;
    flex-wrap:wrap;
    gap: 30px;
    justify-content: space-between;
  }
  .projects-container img{
    max-height: 400px;
    flex-grow: 1;
    object-fit: cover;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }



